/*--- VARIÁVEIS ---*/
:root{
    --header-height: 80px;
    --aside-width: 225px;

    --shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*--- Layout em Grid ---*/
.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr;
    grid-template-areas: 
        "header header"
        "menu content";
    height: 100vh;
    background-color: #fff;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}



